[mysqld]
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# Error Log
log-error = /var/log/mysql/mysql-error.log

# Slow Query Log
slow_query_log = ON
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5

# General Log
#general_log = ON
#general_log_file = /var/log/mysql/mysql-general.log

# etc
max_allowed_packet = 32M
# キャッシュ.推奨は物理メモリの8割だけどdocker環境のため少な目にしておく
innodb_buffer_pool_size = 4G
innodb_log_file_size = 1G
# バッファ
sort_buffer_size = 8M
read_buffer_size = 2M
join_buffer_size = 512K
# timeout(秒)
wait_timeout = 600


[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
